<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="angular/angular.min.js"></script>
	<script src="angular/angular-resource.js"></script>
	<script src="js/practica15.js"></script>
	<title>Matricularse</title>
</head>
<body ng-app="app">
	<div ng-controller="controlador">
		<center>
			<h4 class="alert alert-info">
				<strong>Listado de Materias</strong>
			</h4>
			<br>
			<label>
				<strong>Buscar:</strong>
			</label>
			<input type="text" name="buscar" placeholder="Buscar" ng-model="busqueda">
			<br><br>
			<table class="table table-hover">
				<tr> 
					<td>Nombre</td>
					<td>Codigo</td>
					<td>Cupos Disponibles</td>
				</tr>
				<tr ng-repeat="mat in lista_materia | filter:busqueda">
					<td>{{mat.nombre_materia}}</td>
					<td>{{mat.codigo}}</td>
					<td>{{mat.cupo}}</td>
				</tr>
			</table>
		</center>
	</div>
</body>
</html>